body, html{
    height: 100%;
    margin: 0;
}

.bgImg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.bgImg img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25%;
    z-index: 2;
}

.logoCopa {
    display: block;
    position: fixed;
    left: 2%;
    padding-top: 10px;
    top: 0px;
    filter: drop-shadow(0px 8px 5px rgb(114, 114, 114));
    z-index: 2;
}

.logoCopa2 {
    display: block;
    position: fixed;
    right: 1%;
    padding-top: 1px;
    top: 0px;
    filter: drop-shadow(0px 8px 5px rgb(139, 2, 2));
    z-index: 2;
}

nav{
    font-family: "Prompt",sans-serif;
    font-weight: bold;
}

nav ul{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 60px;
    padding: 18px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    list-style-type: none;
}

nav li{
    margin: 5px;
    padding: 10px;
    display: inline;
}

nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav li:hover {
    background-color: darkred;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 15px rgb(58, 13, 13), inset 3px 3px 15px rgb(172, 61, 61);
}

nav li a:hover {
    color: white;
}

.dropGrupo{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 80%;
    border-radius: 5%;
}

nav li:hover .dropGrupo{
    display: block;
}

nav li:hover .dropGrupo li{
    display: flex;
    flex-direction: row;
}

nav li:hover .dropGrupo li:hover{
    box-shadow: 0 3px 10px rgb(58, 13, 13), inset 3px 3px 10px rgb(172, 61, 61);
}

.dropSel{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 80%;
    border-radius: 5%;
}

nav li:hover .dropSel{
    display: block;
}

nav li:hover .dropSel li{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li:hover .dropSel li:hover{
    box-shadow: 0 3px 10px rgb(58, 13, 13), inset 3px 3px 10px rgb(172, 61, 61);
}

.dropEst{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 5%;
    left: 50%;
    transform: translate(-50%,0);
    top: 80%;
}

nav li:hover .dropEst{
    display: block;
}

nav li:hover .dropEst li{
    display: flex;
    justify-content: center;
}

nav li:hover .dropSel li:hover{
    box-shadow: 0 3px 10px rgb(58, 13, 13), inset 3px 3px 10px rgb(172, 61, 61);
}

nav a:visited{
    color: black;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 15%;
    color: rgb(255, 255, 255);
    font-family: "Prompt", sans-serif;
    font-size: 20px;
    z-index: 0;
    margin-block: 4%;
    border-radius: 40px;
    padding: 20px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    text-align: center;
}

.body img{
    border-radius: 10%;
    width: 450px;
}

.body h2{
    font-weight: bolder;
    font-size: 100px;
    margin-left: 0px;
    margin-block: 0px;
}

.body p{
    margin-inline: 3%;
    font-size: 25px;
}

.tCatar{
    text-align: left;
}

.tCopaMundo{
    text-align: right;
}

.blank{
    height: 10%;
}

th,td{
    border: 1px groove white;
    text-align: center;
}